.song-frame {
  color: #fff;
  width: 200px;
  height: 70px;
  white-space: nowrap;
  border: 3px solid white;
  background: #191414;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
}
.song-frame img {
  width: 50px;
  height: 50px;
  margin: 0 5px 0 8px;
  border-radius: 2px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .song-frame {
    width: 180px;
    height: 50px;
  }

  .song-frame img {
    width: 30px;
    height: 30px;
  }
}
