.toggle-device-box {
  display: flex;
  justify-content: flex-start;
  padding: 6px 0;
  font-size: 14px;
  width: 100%;
  letter-spacing: normal;
}

.arrow-img {
  width: 15px;
  height: 30px;
  margin-left: 8px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #1db954;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  letter-spacing: normal;
  font-family: 'Discotechia Straight';
}

select::-ms-expand {
  display: none;
  /* letter-spacing: normal; */
}

select::-ms-e {
  display: none;
  /* letter-spacing: normal; */
}
