.accessToken {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.home {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  background: #191414;
}

@media screen and (max-width: 700px) {
  .home {
    width: 100%;
    margin-top: 20px;
  }
}
