.accessToken {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.home {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  background: #000;
}
