.accessToken {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.home {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
}

canvas {
  height: 100vh;
  background: #000;
}
