.currently-playing {
  display: flex;
  flex-direction: row;
}
.player {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  width: 350px;
}

.device-text {
  padding: 6px 0;
  color: #1DB954;
  font-size: 14px;
}

.player-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black !important;
  padding: 10px;
  border-radius: 4px;
}

.cover-text-box {
  position: relative;
  display: flex;
}

.cover-text-box p {
  margin: 4px 8px 4px 0;
  white-space: nowrap;
  max-width: 160px;
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cover-text-box p::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cover-text-box p {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.current-album-cover {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.play-pause {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 4px;
  top: 4px;
}

@media screen and (max-width: 700px) {
  .player {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    margin: 0 auto;
    width: 315px;
  }
}
