.player {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black !important;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  margin: 20px;
  width: 350px;
}

.cover-text-box {
  display: flex;
}

.cover-text-box p {
  margin: 4px 8px 4px 0;
  white-space: nowrap;
  max-width: 160px;
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cover-text-box p::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cover-text-box p {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.current-album-cover {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.play-pause {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 8px;
  top: 8px;
}
