.search-box {
  margin: 20px 0px 10px 20px;
}

.search-field {
  width: 44px;
  height: 44px;
  font-size: 14px;
  border: white solid 2px;
  border-radius: 30px;
  background-color: #191414;
  color: white;
  padding-left: 15px;
  transition: box-shadow 0.3s, width 0.3s;
}

.search-field:hover {
  box-shadow: 0 0 5px #9ecaed;
}

.search-field:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: 0 0 5px #9ecaed;
  width: 250px;
}

@media screen and (max-width: 700px) {
  .search-box {
    margin: 20px auto 0 auto;
  }
}
