.App {
  text-align: center;
}

.album-cover {
  width: 200px;
  height: auto;
}

.current-album-cover {
  width: 250px;
  height: auto;
}

.completed-div {
  display: flex;
}

.completed-album-cover {
  width: 50px;
  height: auto;
}
